LP3THW.pdf
.vscode/
LPTHW.pdf
__pycache__/
projects/skeleton/tests/__pycache__
projects/skeleton/NAME/__pycache__
projects/skeleton/docs/.gitkeep
projects/skeleton/bin/.gitkeep

projects/ex46-AProjectSkeleton/tests/__pycache__
projects/ex46-AProjectSkeleton/NAME/__pycache__
projects/ex46-AProjectSkeleton/docs/.gitkeep
projects/ex46-AProjectSkeleton/bin/.gitkeep
projects/ex46-AProjectSkeleton/nose_runner/__pycache__
projects/ex46-AProjectSkeleton/tests/__pycache__

projects/ex47-AutomatedTesting/bin/.gitkeep
projects/ex47-AutomatedTesting/tests/__pycache__
projects/ex47-AutomatedTesting/NAME/__pycache__
projects/ex47-AutomatedTesting/docs/.gitkeep
projects/ex47-AutomatedTesting/bin/.gitkeep
projects/ex47-AutomatedTesting/ex47/__pycache__
projects/ex47-AutomatedTesting/tests/__pycache__

projects/ex48-AdvancedUserInput/bin/.gitkeep
projects/ex48-AdvancedUserInput/docs/.gitkeep
projects/ex48-AdvancedUserInput/ex48/__pycache__
projects/ex48-AdvancedUserInput/tests/__pycache__
projects/ex48-AdvancedUserInput/__init__.pyc
projects/ex48-AdvancedUserInput/ex48/advanced_user_input.pyc
projects/ex48-AdvancedUserInput/ex48/parser.pyc
projects/ex48-AdvancedUserInput/tests/__init__.pyc
projects/ex48-AdvancedUserInput/tests/parser_tests.pyc
projects/ex48-AdvancedUserInput/ex48/__init__.pyc
